
body {
    background-color: #676767 !important;
}

#app {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @import "./table";
    @import "./fixes-material-ui";
}

@mixin ticTacBoard($caseWith, $nbCasesPerRow) {
    //$caseWith: 70px;
    //$nbCasesPerRow: 3;

    //height: $caseWith * $nbCasesPerRow + 2;

    .plat {
        display: inline-block;
        width: $caseWith * $nbCasesPerRow + 2; // 2 la bordure
        border: 1px solid black;
        line-height: $caseWith - 2;
    }


    .case {
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        width: $caseWith;
        height: $caseWith;
        border: 1px solid black;
    }

    .actions {
        button {
            margin-top: 10px;
        }
    }
}

.tic-tac-toe {
    margin-top: 20px;

    @include ticTacBoard(70px, 3);

    .history {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        .history-line {
            display: inline-block;
            margin-left: 5px;
            @include ticTacBoard(20px, 3);
        }
    }
}

.form-password {
    margin-top: 50px;

    input{
        &.ok {
            border: 3px solid #08c309;
        }

        &.neutral {
            border: initial;
        }

        &.warning {
            border: 3px solid orange;
        }

        &.danger {
            border: 3px solid red;
        }

    }

    .load-password {
        width: 40px;
    }
}