body {
    // @todo trouver un moyen de ne pas modifier depuis le composant App mais avant
    background-color: #5f5f5f;
}

#content {
    .container {
        padding-top: 30px;
        .panel {
            padding: 20px;
        }

        .items {
            height: 100%;

            .list-item-icon img {
                max-width: 45px;

                display :block;
                margin: auto auto auto 0;
            }

            .input-page {
                input {
                    text-align: center;
                }
            }

            .item-button-selector {
                min-height: 61px;
            }

            .search-item {
                width: 100%;
            }
        }
    }
}